header{font-size:medium}
body{background-color:#EEF3C1}
footer{background-color:#E34429;color:#FFFAFA;font-size:xx-large}
.thLbl{font-size:medium;color:#573605}
.pagAct {color:#631DB6;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#000000;font-size:x-large}
td{font-weight:bolder}