header{font-size:medium}
body{background-color:#8FA98C}
footer{background-color:#696969;color:#FFFAF0;font-size:xx-large}
.thLbl{font-size:medium;color:#800000}
.pagAct {color:#800000;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#000000;font-size:x-large}
td{font-weight:bolder}
