header{font-size:medium}
body{background-color:#E4D3DB}
footer{background-color:#800080;color:#FFF8DC;font-size:xx-large}
.thLbl{font-size:medium;color:#800080}
.pagAct {color:#800080;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#800080;font-size:x-large}
td{font-weight:bolder}