header{font-size:medium}
body{background-color:#F0E68C}
footer{background-color:#000080;color:#fff;font-size:xx-large}
.thLbl{font-size:medium;color:#0000FF}
.pagAct {color:#0000FF;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#0000FF;font-size:x-large}
td{font-weight:bolder}