header{font-size:medium}
body{background-color:#F0FFFF}
footer{background-color:#00BFFF;color:#fff;font-size:xx-large}
.thLbl{font-size:medium;color:#4169E1}
.pagAct {color:#4169E1;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#00008B}
.p2{font-size:large;color:#00008B}
.TiNoTbl{text-align:center;color:#000080;font-size:x-large}
td{font-weight:bolder}