header{font-size:medium}
body{background-color:#B9D8D5}
footer{background-color:#000000;color:#FF0000;font-size:xx-large}
.thLbl{font-size:medium;color:#0000CD}
.pagAct {color:#800000;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#000000;font-size:x-large}
td{font-weight:bolder}