header{font-size:medium}
body{background-color:#F9E0FE}
footer{background-color:#FFE4C4;color:#A0522D;font-size:xx-large}
.thLbl{font-size:medium;color:#800000}
.pagAct {color:#800000;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#800000;font-size:x-large}
td{font-weight:bolder}