header{font-size:medium}
body{background-color:#8FBC8B}
footer{background-color:#2E8B57;color:#E0FFFF;font-size:xx-large}
.thLbl{font-size:medium;color:#4B0082}
.pagAct {color:#191970;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#000080;font-size:x-large}
td{font-weight:bolder}