header{font-size:medium}
body{background-color:#ECEDF1}
footer{background-color:#191970;color:#FFE4E1;font-size:xx-large}
.thLbl{font-size:medium;color:#A52A2A}
.pagAct {color:#8B0000;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#000080;font-size:x-large}
td{font-weight:bolder}