header{font-size:medium}
body{background-color:#F5F5DC}
footer{background-color:#808000;color:#FFEBCD;font-size:xx-large}
.thLbl{font-size:medium;color:#000000}
.pagAct {color:#8B4513;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#000000;font-size:x-large}
td{font-weight:bolder}