header{font-size:medium}
body{background-color:#FBFFC6}
footer{background-color:#DDA0DD;color:#4B0082;font-size:xx-large}
.thLbl{font-size:medium;color:#800080}
.pagAct {color:#00008B;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#00008B;font-size:x-large}
td{font-weight:bolder}