header{font-size:medium}
body{background-color:#AAADCC}
footer{background-color:#A52A2A;color:#FFFAFA;font-size:xx-large}
.thLbl{font-size:medium;color:#000000}
.pagAct {color:#8B0000;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#00008B;font-size:x-large}
td{font-weight:bolder}