header{font-size:medium}
body{background-color:#F6F8AB}
footer{background-color:#808080;color:#FFFAFA;font-size:xx-large}
.thLbl{font-size:medium;color:#4B0082}
.pagAct {color:#0000CD;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#191970;font-size:x-large}
td{font-weight:bolder}