header{font-size:medium}
body{background-color:#C8E9E7}
footer{background-color:#FFFF00;color:#000080;font-size:xx-large}
.thLbl{font-size:medium;color:#8B4513}
.pagAct {color:#FF0000;font-size:x-large}
.pagX {color:#000000;font-size:large}
.p1{font-size:large;color:#0000000}
.p2{font-size:large;color:#000000}
.TiNoTbl{text-align:center;color:#000000;font-size:x-large}
td{font-weight:bolder}